DATABASE_URL="file:./dev.db"

NUXT_SESSION_PASSWORD="password-with-at-least-32-characters"

MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin123" # At least 8 characters
MINIO_BUCKET="dropbox-files"
MINIO_ENDPOINT="http://localhost:9000"
MINIO_REGION="us-east-1"
